<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TD1 - Light</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main id="App">
        <p>Hello Vue</p>
        <br>
        <p>Nom : <input v-model="search" type="text"/></p>
        <p>box count : <input v-model="boxCount" type="number" step="0.1"/></p>
        <table>
            <tr v-for="data in filteredResult">
                <td>{{ data.name }}</td>
                <td>{{ data.url }}</td>
                <td>{{ data.width }}</td>
                <td>{{ data.height }}</td>
                <td>{{ data.box_count }}</td>
                <td>{{ data.captions }}</td>
            </tr>
        </table>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer ></script>
</body>
</html>