<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Test Js</title>
</head>
<body>
    <main id="app">
         
        <p>oe </p><input v-model="nameData" type="text"></p>

        <table>
            <tr v-for="data in datas">
                <td>{{data.name}}</td>
                <td><img :src="data.url"></td>
            </tr>
        </table>
    </main>

    <script src="main.js" defer></script>
</body>
</html>